*{
  margin: 0;
  padding: 0;
}
.App {
  padding: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0.819);
}

.App .heading{
  font-size: 80px;
  color: white;
  text-transform: uppercase;
}

.Card{
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;  
  
}

.Card .content{
  width: 250px;
  font-size: 10px;
  color: white;

  margin-bottom: 20px;
  border: 10px solid rgba(102, 100, 100, 0.71);
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(102, 100, 100, 0.71);
}
.Card img{
  width: 100%;
  /* border: 3px solid rgba(133, 131, 131, 0.71); */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}